* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 540px);
  padding-right: calc(50% - 540px);
}

.navigation {
  display: flex;
  align-items: center;
  background-color: black;
  height: 75px;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}
.navigation__left {
  display: flex;
  gap: 35px;
}
.navigation__right {
  display: flex;
  gap: 35px;
}
.navigation__right .menu_h1 {
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
}
.navigation__right .dropdown1 {
  font-style: normal;
  margin-left: 22px;
  font-weight: 400;
  font-size: 14px;
  color: #F16D7F;
  background-color: white;
  border-style: none;
}
.navigation__right .d_i {
  font-style: normal;
  color: #6F6E6E;
  margin-left: 27px;
}

.head {
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background-color: #F1E4E6;
}
.head__img {
  width: 100%;
}
.head__content {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 75%;
}
.head__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
  text-align: left;
}
.head__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.menu {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
  padding-left: calc(50% - 540px);
  padding-right: calc(50% - 540px);
}
.menu__sales {
  position: relative;
}
.menu__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__item_big {
  min-height: 180px;
  grid-column: 1/-1;
}
.menu__img {
  width: 100%;
}
.menu__text {
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  color: white;
  font-size: 16px;
}
.menu__heading {
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  color: #F16D7F;
  font-size: 24px;
}

.content {
  padding-left: calc(50% - 540px);
  padding-right: calc(50% - 540px);
  position: relative;
}
.content__head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__block {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.content__card:hover .content__add {
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content__card:hover .content__img {
  transition: 0.5s;
  filter: brightness(0.5);
}
.content__img {
  width: 100%;
}
.content__info {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-top: 25px;
  margin-left: 15px;
  margin-right: 25px;
  padding-bottom: 20px;
}
.content__button {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.content__button_browse_all {
  min-width: 270px;
  min-height: 70px;
  color: #F16D7F;
  background-color: white;
  border-color: #F16D7F;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
  border-style: solid;
}
.content__button_browse_all:hover {
  transition: 0.5s;
  color: white;
  background-color: #F16D7F;
}
.content__card {
  background-color: #F8F8F8;
  position: relative;
  display: flex;
  flex-direction: column;
}
.content__head2 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
}
.content__head_text {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}
.content__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #9F9F9F;
}
.content__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #F16D7F;
}
.content__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  color: #FFFFFF;
  text-decoration: none;
}
.content__add_text {
  margin-bottom: 0;
}

.footer {
  background-color: #222224;
  padding-top: 160px;
  padding-bottom: 100px;
}
.footer__info {
  display: flex;
  padding-left: 230px;
  padding-right: 230px;
  gap: 30px;
  justify-content: center;
}
.footer__header {
  color: #FBFBFB;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 23.95px;
}
.footer__text {
  color: #FBFBFB;
  font-size: 13.97px;
  font-weight: 200;
  line-height: 16.77px;
  text-align: center;
  max-width: 320px;
}
.footer__info_why {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  position: relative;
}
.footer__img {
  max-width: 40px;
  max-height: 32px;
}
.footer__block_txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback {
  display: flex;
  background-image: url(img/foot_content/backfon.svg);
  height: 448px;
  padding-left: 230px;
  padding-right: 230px;
  gap: 220px;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.feedback__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.feedback__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  max-width: 360px;
}
.feedback__right {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.feedback__h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 40.13px;
}
.feedback__h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30.1px;
}
.feedback__button {
  display: flex;
  flex-direction: row;
}
.feedback__email {
  text-align: center;
  color: #222224;
  background: #E1E1E1;
  border-top-left-radius: 20px;
  border: none;
  height: 50px;
  border-bottom-left-radius: 20px;
  width: 250px;
}
.feedback__sub {
  color: white;
  background: #F16D7F;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  height: 50px;
  width: 100px;
}

.bottom {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-left: 230px;
  padding-right: 230px;
}
.bottom__right {
  display: flex;
  gap: 8px;
}
.bottom__info {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.bottom__social {
  background-color: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
}
.bottom__social:hover {
  color: white;
  background-color: #F16D7F;
  transition: 0.5s;
}
.bottom__img {
  max-width: 50%;
}

.filter {
  width: 100%;
  padding: 13px 16px 16px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}
.filter-box {
  position: relative;
  height: 40px;
  width: 360px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__box {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 11px;
}
.filter-sort {
  padding-top: 39px;
  display: flex;
  gap: 30px;
}
.filter__summary {
  display: flex;
  gap: 11px;
  align-items: center;
}
.filter[open] {
  transition: 0.5s;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__summary {
  color: #F16D7F;
}
.filter[open] .filter__img path {
  fill: #F16D7F;
}
.filter__category {
  margin-top: 16px;
}
.filter__category-summary {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
}
.filter__category[open] .filter__category-summary {
  color: #F16D7F;
}

.sort {
  display: flex;
  gap: 28px;
  align-items: center;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #6F6E6E;
}
.sort__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 79px;
  padding: 7px 9px 11px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  top: 22px;
  left: -9px;
}

.nav__page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-bottom: 90px;
}
.nav__page__box {
  display: flex;
  gap: 16px;
  list-style: none;
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  border-color: #EBEBEB;
  align-items: center;
  border-radius: 10px;
}
.nav__page_text {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  text-align: left;
  color: grey;
}
.nav__page_text:hover {
  color: #F16D7F;
}

.bottom {
  gap: 305px;
  padding-left: 32px;
  padding-right: 32px;
}

.catalog {
  display: flex;
  background-color: #F8F3F4;
  align-items: center;
  height: 150px;
  justify-content: space-between;
  padding-left: 230px;
  padding-right: 230px;
}
.catalog__header {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}
.catalog__chapter_text {
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}
.catalog__chapter_text:hover {
  color: #F16D7F;
}
.catalog__chapter {
  display: flex;
}
.catalog__box:last-of-type .catalog__chapter_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.catalog__box:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}

.product__photo {
  display: flex;
  background-color: #F7F7F7;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 665px;
}
.product__photo__slide {
  background-color: rgba(42, 42, 42, 0.1490196078);
}
.product__info {
  margin-left: calc(50% - 540px);
  margin-right: calc(50% - 540px);
  background-color: #FFFFFF;
  position: absolute;
  bottom: 1px;
  top: 900px;
  height: 677px;
  border-width: 1px;
  border-color: #EAEAEA;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 293px;
  padding-right: 293px;
  padding-top: 65px;
}
.product__parametr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-top: 2px solid #EAEAEA;
  width: 642px;
  padding-top: 60px;
}
.product__h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #F16D7F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 0px;
}
.product__h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}
.product__h1 {
  padding-bottom: 64px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: #F16D7F;
}
.product__p {
  width: 570px;
  padding-bottom: 45px;
}
.product__line {
  border-top: 3px #F16D7F solid;
  width: 63px;
}
.product__head {
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.product__slide {
  background-color: rgba(42, 42, 42, 0.1490196078);
  position: absolute;
}
.product__slide_right {
  right: 0px;
}
.product__slide_left {
  left: -1px;
}

.line {
  color: #EF5B70;
  height: 3px;
  border: none;
  background-color: #EF5B70;
  width: 63px;
}

.cart {
  min-height: 1000px;
  display: flex;
  padding-left: 230px;
  padding-top: 96px;
  gap: 128px;
}
.cart__product {
  display: flex;
  box-shadow: 10px 10px 22px 0px rgba(34, 60, 80, 0.2);
  max-height: 300px;
}
.cart__product_heding {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  max-width: 200px;
}
.cart__count {
  max-width: 44px;
  margin-left: 24px;
  border-color: #EAEAEA;
  border-style: solid;
  border-width: 1px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  font-size: 18px;
  color: #656565;
}
.cart__settings {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.cart__setting {
  font-weight: 400;
  font-size: 22px;
  text-align: left;
  line-height: 26.4px;
}
.cart__products {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__delete {
  margin-top: 28px;
  margin-right: 22px;
}
.cart__settings {
  margin: 22px 120px 62px 31px;
}
.cart__buttons {
  display: flex;
  gap: 192px;
}
.cart__button {
  width: 230px;
  height: 50px;
  color: #4A4A4A;
  background-color: white;
  border-color: #A4A4A4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  font-weight: 400;
  line-height: 16.8px;
  font-size: 14px;
  border-width: 1px;
}
.cart__button_shipping {
  width: 101px;
  height: 35px;
  line-height: 13.2px;
  font-size: 11px;
}
.cart__button_checkout {
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  color: #FFFFFF;
  border-style: solid;
  border-color: #F16D7F;
  font-weight: 400;
  line-height: 19.2px;
  font-size: 16px;
}
.cart__button_checkout:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  transition: 0.5s;
}
.cart__button__img {
  height: 300px;
}
.cart__button:hover {
  transition: 0.5s;
  color: white;
  background-color: #F16D7F;
  fill: white;
}
.cart__shipping {
  display: flex;
  flex-direction: column;
  gap: 57px;
  margin-top: 7px;
}
.cart__shipping_heding {
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  font-size: 16px;
}
.cart__adress {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart__data {
  width: 360px;
  height: 45px;
  font-size: 13px;
  line-height: 15.6px;
  text-align: left;
  font-weight: 400;
  padding-left: 17px;
}
.cart__city {
  color: #B1B1B1;
}
.cart__city::-moz-placeholder {
  color: #B1B1B1;
  opacity: 1;
}
.cart__city::placeholder {
  color: #B1B1B1;
  opacity: 1;
}
.cart__total {
  background-color: #F5F3F3;
  width: 360px;
  height: 214px;
  padding-top: 39px;
  padding-left: 43px;
  padding-right: 42px;
  padding-bottom: 44px;
}
.cart__total_price {
  display: flex;
  flex-direction: column;
}
.cart__total_head3 {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.cart__total_head2 {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.cart__total_h3 {
  font-family: Lato;
  font-weight: 400;
  line-height: 13.2px;
  text-align: left;
  font-size: 11px;
}
.cart__total_h2 {
  font-family: Lato;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  font-size: 16px;
}
.cart__total_h2_price {
  color: #F16D7F;
}
.cart__total_line {
  border-color: #b3b3bf;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 360px;
}
.login__gender {
  display: flex;
}
.login__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  color: #B1B1B1;
}
.login__button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  color: white;
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-color: #F16D7F;
  border-style: solid;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}
.login__button:hover path {
  fill: #F16D7F;
  transition: 0.5s;
}
.login__button:hover {
  color: #F16D7F;
  background-color: white;
  fill: #F16D7F;
  border-color: #F16D7F;
  transition: 0.5s;
}

.registration {
  display: flex;
  padding: 64px 175px 96px 230px;
  gap: 128px;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.layout_text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
}
.layout ul {
  list-style: none;
  padding: 0;
}
.layout ul > li {
  background: url(img/filter/galochka.svg) no-repeat 0 50%;
  padding-left: 40px;
  position: relative;
  margin: 10px;
}

.radioItem {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
}
.radioItem:not(:last-of-type) {
  margin-right: 20px;
}

.radioButton {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 17px;
  height: 17px;
  border: 1px solid #a4a4a4;
  border-radius: 9999px;
  cursor: pointer;
}
.radioButton:checked {
  background-color: #ffffff;
}
.radioButton:checked::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 11px;
  height: 11px;
  margin: auto;
  border-radius: 9999px;
  background-color: #f16d7f;
}

@media (max-width: 1024px) {
  .navigation {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer__info {
    flex-direction: column;
    gap: 108px;
    padding: 0;
  }
  .feedback {
    flex-direction: column;
    gap: 48px;
    height: 614px;
    justify-content: center;
    background-size: cover;
    align-items: center;
    padding: 0;
  }
  .feedback__left {
    width: 360px;
  }
  .feedback__right {
    width: 360px;
  }
  .head__left {
    max-width: 50%;
  }
  .head__title {
    font-size: 44px;
  }
  .head__heading {
    font-size: 24px;
  }
  .head__content {
    margin-top: 50%;
  }
  .menu {
    margin-left: 16px;
    margin-right: 16px;
    gap: 20px;
  }
  .menu__item_big {
    min-height: 0;
  }
  .content {
    margin-left: 16px;
    margin-right: 16px;
  }
  .content__block {
    grid-template-columns: repeat(2, 3fr);
    gap: 16px;
  }
  .content__card_catalog:last-child {
    content-visibility: hidden;
  }
  .catalog {
    padding-left: 16px;
    padding-right: 16px;
  }
  .catalog__one {
    padding-right: 0;
  }
  .product__info {
    margin-left: 0;
    margin-right: 0;
    top: 0;
    position: relative;
  }
  .product__img {
    width: 100%;
  }
  .product__photo {
    margin-bottom: 0;
  }
  .product__text {
    padding-left: 0;
    padding-right: 0;
  }
  .product__parametr {
    width: 80%;
  }
  .bottom {
    align-items: center;
    gap: 20px;
  }
  .cart {
    flex-direction: column;
    min-height: 0;
    padding-left: 0;
    align-items: center;
    padding-bottom: 128px;
  }
  .cart__product {
    width: 734px;
    max-height: 306px;
  }
  .cart__shipping {
    flex-direction: row;
    gap: 15px;
  }
  .cart__total {
    margin-top: 46px;
  }
  .cart__delete {
    margin-left: 90px;
    margin-right: 0;
  }
  .cart__buttons {
    justify-content: space-around;
    gap: 0;
  }
  .cart__img {
    height: 306px;
  }
  .registration {
    padding: 40px 16px 96px 16px;
    gap: 22px;
  }
  .layout_text {
    font-size: 16px;
  }
}
@media (max-width: 426px) {
  .navigation {
    padding-left: 16px;
    padding-right: 16px;
  }
  .navigation__img1 {
    display: none;
  }
  .head__left {
    display: none;
  }
  .head__content {
    margin-bottom: 48%;
    margin-left: 30px;
  }
  .head__title {
    font-size: 38px;
    line-height: 45.6px;
  }
  .head__heading {
    font-size: 20px;
    line-height: 24px;
  }
  .menu {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 15px;
    margin-right: 15px;
  }
  .menu__item_big {
    min-height: 0;
  }
  .menu__big_img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 111px;
  }
  .content {
    margin-right: 8px;
    margin-left: 8px;
  }
  .content__block {
    grid-template-columns: repeat(1, 1fr);
  }
  .content__text_hp {
    text-align: center;
  }
  .content__text {
    font-size: 12px;
  }
  .content__button_browse_all {
    min-width: 212px;
    min-height: 48px;
  }
  .footer__info {
    flex-direction: column;
    gap: 108px;
    padding-left: 0;
    padding-right: 0;
  }
  .footer__text {
    width: 300px;
  }
  .feedback {
    align-items: center;
    flex-direction: column;
    gap: 48px;
    height: 614px;
    justify-content: center;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
  }
  .feedback__left {
    width: 320px;
  }
  .feedback__right {
    width: 320px;
  }
  .feedback__email {
    width: 200px;
    height: 40px;
  }
  .feedback__sub {
    width: 90px;
    height: 40px;
  }
  .feedback__text {
    font-size: 16px;
    max-width: 300px;
  }
  .feedback__h2 {
    font-size: 22px;
  }
  .feedback__h3 {
    font-size: 12px;
  }
  .bottom {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column-reverse;
    height: 120px;
    gap: 40px;
    padding-bottom: 8px;
    justify-content: flex-start;
  }
  .catalog {
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
  }
  .catalog__one {
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .filter {
    font-size: 0;
  }
  .filter-sort {
    gap: 55px;
  }
  .filter__summary {
    flex-direction: column;
  }
  .filter-box {
    padding-left: 8px;
    height: 25px;
    width: 37px;
    bottom: 17px;
  }
  .filter__img {
    width: 37px;
    height: 25px;
  }
  .filter[open] {
    width: 200px;
  }
  .sort__summary {
    font-size: 12px;
  }
  .sort__summary_p {
    font-size: 10px;
  }
  .product__img {
    width: 100%;
  }
  .product__p {
    width: 320px;
  }
  .product__parametr {
    width: auto;
  }
  .product__text {
    padding-left: 0;
    padding-right: 0;
  }
  .cart__products {
    max-width: 358px;
  }
  .cart__setting {
    font-size: 14px;
    width: 143px;
    margin: 0;
    line-height: 16.8px;
  }
  .cart__settings {
    gap: 25px;
    margin-left: 17px;
    margin-bottom: 37px;
    margin-top: 13px;
    margin-right: 0;
  }
  .cart__product {
    max-height: 188px;
    width: 358px;
  }
  .cart__product_heding {
    font-size: 16px;
    margin-bottom: 0;
    width: 140px;
    line-height: 19.2px;
  }
  .cart__img {
    height: 188px;
  }
  .cart__delete {
    margin: 0;
    margin-top: 8px;
    margin-right: 10px;
  }
  .cart__button {
    width: 175px;
    font-size: 12px;
  }
  .cart__shipping {
    flex-direction: column;
  }
  .cart__data {
    width: 290px;
  }
  .registration {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */