@import 'vars';

* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.center{
    padding-left: calc(50% - 540px);
    padding-right: calc(50% - 540px);
}

.navigation{
    display: flex;
    align-items: center;
    background-color: black;
    height: 75px;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    &__left{
        display: flex;
        gap: 35px;
    }
    &__right{
        .menu_h1{
    font-weight: 400;
    font-size: 14px;
    margin-left: 20px;
}
.dropdown1{
    font-style: normal;
    margin-left: 22px;
    font-weight: 400;
    font-size: 14px;
    color: #F16D7F;
    background-color: white;
    border-style: none;
}
.d_i{
    font-style: normal;
    color: #6F6E6E;
    margin-left: 27px;
}
        display: flex;
        gap: 35px;
    }
    }

.head{
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    background-color: #F1E4E6;
    
    &__img{
        width: 100%;
    }
    &__content{
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
        margin-top: 75%;
    }
    &__title{
        font-family: Lato;
        font-size: 48px;
        font-weight: 900;
        line-height: 57.6px;
        text-align: left;

    }
    &__heading{
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }

}

.menu{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
    padding-left: calc(50% - 540px);
    padding-right: calc(50% - 540px);
    &__sales{
        position: relative;
    }
    &__content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    &__item_big{
        min-height: 180px;
        grid-column: 1 / -1;
    }
    &__img{
        width: 100%;
    }
    &__text{
        font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: center;
    color: white;

    }
    &__heading{
        font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    color: $colorSite;

    }
    
}
.content{
    padding-left: calc(50% - 540px);
    padding-right: calc(50% - 540px);
    position: relative;
    
    
    &__head{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    &__block{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
        
    }
    &__card{
        &:hover .content__add{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        &:hover .content__img{
            filter: brightness(0.5);
        }
    }
    &__img{
        width: 100%;
    }
    &__info{
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding-top: 25px;
        margin-left: 15px;
        margin-right: 25px;
        padding-bottom: 20px;
    }
    &__button{
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }
    &__button_browse_all{
        min-width: 270px;
        min-height: 70px;
        color: $colorSite;
        background-color: white;
        border-color: $colorSite;
    }
    &__button_browse_all:hover{
        color: white;
        background-color: $colorSite;
    }
    &__card{
        background-color: #F8F8F8;
        position: relative;
    }
    &__head2{
        font-family: Lato;
        font-size: 13px;
        font-weight: 400;
        line-height: 15.6px;
        text-align: left;
    }
    &__head_text{
        font-family: Lato;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
    }
    &__text{
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;

        color: $colorText;

    }
    &__price{
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        color: $colorSite;
    }
    &__add{
        position: absolute;
        top: 188px;
        left: 111px;
        border: 1px solid #fff;
        width: 139px;
        height: 44px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: none;
        color: #FFFFFF;
        text-decoration: none;
    }

}

.footer{
    background-color: #222224;
    padding-top: 160px;
    padding-bottom: 100px;
    &__info{
        display: flex;
        padding-left: 230px;
        padding-right: 230px;
        gap: 30px;
    }
    &__header{
        color:#FBFBFB;
        font-family: Lato;
        font-size: 19.96px;
        font-weight: 400;
        line-height: 23.95px;

    }
    &__text{
        color: #FBFBFB;
        font-family: Lato;
        font-size: 13.97px;
        font-weight: 200;
        line-height: 16.77px;
        text-align: center;
        max-width: 320px;

    }
    &__info_why{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        position: relative;
    }
    &__img{
        max-width: 40px;
        position: absolute;
        bottom: 110px;
    }
    &__block_txt{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.feedback{
    display: flex;
    background-image: url(img/foot_content/backfon.svg);
    height: 448px;
    padding-left: 230px;
    padding-right: 230px;
    gap: 220px;

    &__left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }

    &__text{
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        max-width: 360px;

    }
    &__right{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    
    &__h2{
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 40.13px;

    }
    &__h3{
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 30.1px;

    }
    &__button{
        display: flex;
        flex-direction: row;
    }
    &__email{
        text-align: center;
        color: #222224;
        background: #E1E1E1;
        border-top-left-radius: 20px;
        border: none;
        height: 50px;
        border-bottom-left-radius: 20px;
        width: 250px;
    }
    &__sub{
        color: white;
        background: $colorSite;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
        height: 50px;
        width: 100px;
    }
}
    .bottom{
        display: flex;
        background-color: black;
        justify-content: space-between;
        align-items: center;   
        padding: 30px; 
        padding-left: 230px;
        padding-right: 230px;
        &__right{
            display: flex;
            gap: 8px;
        }
        &__info{
            color: white;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;

        }

        &__social{
            background-color: white;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
        }
        &__social:hover{
            color: white;
            background-color: $colorSite;
        }
        &__img{
            max-width: 50%;
        }
    }

    .filter{
    width: 100%;
    padding: 13px 16px 16px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    &-box{
        position: relative;
        height: 40px;
        width: 360px;
    }
    &__link{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        text-decoration: none;
    
        &:hover{
            color: $colorSite;
        }
    }
    &__box{
        display: flex;
        flex-direction: column;
        padding: 24px 16px;
        gap: 11px;
    }
    &-sort{
        padding-top: 39px;
        display: flex;
        gap: 30px;
    }
    &__summary{
        display: flex;
        gap: 11px;
        align-items: center;
    }
    &[open]{
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        & .filter__summary{
            color: $colorSite;
        }
        & .filter__img path{
            fill: $colorSite;
        }
    }
    &__category{
        margin-top: 16px;
        &-summary{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            padding: 8px 11px 11px;
            border-left: 5px solid $colorSite;
            border-bottom: 1px solid #EBEBEB;
        }
        &[open] .filter__category-summary{
            color: $colorSite;
        }
    }
    
    }
    .sort{
    display: flex;
    gap: 28px;
    align-items: center;
    &__details{
        position: relative;
    }
    &__summary{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__content{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 79px;
        padding: 7px 9px 11px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        z-index: 1;
        top: 22px;
        left: -9px;
    }
}

.nav__page{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-bottom: 90px;
    &__box{
        display: flex;
        gap: 16px;
        list-style: none;
        border-width: 1px;
        border-style: solid;
        padding: 15px;
        border-color: #EBEBEB;
        align-items: center;
        border-radius: 10px;
    }
    &_text{
        text-decoration: none;
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        line-height: 19.2px;
        text-align: left;
        color: grey;
        &:hover{
            color: $colorSite;
        }

    }
}
@media(width:768px){
    .footer{
        &__info{
            flex-direction: column;
            gap: 108px;
            
        }
    }
    .feedback{
        flex-direction: column;
        gap: 48px;
        height: 614px;
        justify-content: center;
        background-size: cover;
        &__left{
            width: 360px;
        }
        &__right{
            width: 360px;
        }
    }
    .head{
        &__left{
            max-width: 50%;
        }
        &__title{
            font-size: 44px;
        }
        &__heading{
            font-size: 24px;
        }
        &__content{
            margin-top: 50%;
        }
    }
    .menu{
        margin-left: 16px;
        margin-right: 16px;
        gap: 20px;
        &__item_big{
            min-height: 0;
        }
    }
    .content{
        margin-left: 16px;
        margin-right: 16px;
        &__block{
            grid-template-columns: repeat(2, 3fr);
            gap: 16px;
        }
    }
    }
    
    .bottom{
        gap: 305px;
        padding-left: 32px;
        padding-right: 32px;
    }
    
    .catalog{
        display: flex;
        background-color: #F8F3F4;
        align-items: center;
        height: 150px;
        justify-content: space-between;
        padding-left: 230px;
        padding-right: 230px;
        
        &__header{
            color: $colorSite;
            font-family: Lato;
            font-size: 24px;
            font-weight: 400;
            line-height: 28.8px;
            text-align: left;

        }
       
        &__chapter_text{
            text-decoration: none;
            color: #636363;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: left;

        }
        &__now{
            color: $colorSite;
        }
    }


@media(width: 320px){
    .navigation{
        &__img1{
            display: none;
        }
    }
    .head{
        &__left{
            display: none;
        }
        &__content{
            margin-bottom: 48%;
            margin-left: 30px;
        }
        &__title{
            font-size: 38px;
            line-height: 45.6px;
        }
        &__heading{
            font-size: 20px;
            line-height: 24px;
        }
    }
    .menu{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15px;
        margin-right: 15px;
        &__item_big{
            min-height: 0;
        }
        &__big_img{
            max-width: 100%;
            object-fit: cover;
            width: 320px;
            height: 111px;
        }
    }
    .content{
        margin-right: 8px;
        margin-left: 8px;
        &__block{
            grid-template-columns: repeat(1, 1fr);
        }
        &__text_hp{
            text-align: center;
        }
        &__text{
            font-size: 12px;
        }
        &__button_browse_all{
            min-width: 212px;
            min-height: 48px;
        }
        &__add{
            top: 155px;
            left: 90px;
        }
    }
    .footer{
        &__info{
            flex-direction: column;
            gap: 108px;
            padding-left: 0;
            padding-right: 0;
            
        }
        &__text{
            width: 300px;
        }
    }
    .feedback{
        flex-direction: column;
        gap: 48px;
        height: 614px;
        justify-content: center;
        background-size: cover;
        padding-left: 0;
        padding-right: 0;
        &__left{
            width: 320px;
        }
        &__right{
            width: 320px;
        }
        &__email{
            width: 200px;
            height: 40px;
        }
        &__sub{
            width: 90px;
            height: 40px;
        }
        &__text{
            font-size: 16px;
            max-width: 300px;
        }
        &__h2{
            font-size: 22px;
        }
        &__h3{
            font-size: 12px;
        }
    }
    .bottom{
        padding-left: 0;
        padding-right: 0;
        flex-direction: column-reverse;
        height: 120px;
        gap: 40px;
        padding-bottom: 8px;
        justify-content: flex-start;
    }
}