* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 540px);
  padding-right: calc(50% - 540px);
}

.navigation {
  display: flex;
  align-items: center;
  background-color: black;
  height: 75px;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}
.navigation__left {
  display: flex;
  gap: 35px;
}
.navigation__right {
  display: flex;
  gap: 35px;
}
.navigation__right .menu_h1 {
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
}
.navigation__right .dropdown1 {
  font-style: normal;
  margin-left: 22px;
  font-weight: 400;
  font-size: 14px;
  color: #F16D7F;
  background-color: white;
  border-style: none;
}
.navigation__right .d_i {
  font-style: normal;
  color: #6F6E6E;
  margin-left: 27px;
}

.head {
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background-color: #F1E4E6;
}
.head__img {
  width: 100%;
}
.head__content {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 75%;
}
.head__title {
  font-family: Lato;
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
  text-align: left;
}
.head__heading {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.menu {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
  padding-left: calc(50% - 540px);
  padding-right: calc(50% - 540px);
}
.menu__sales {
  position: relative;
}
.menu__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__item_big {
  min-height: 180px;
  grid-column: 1/-1;
}
.menu__img {
  width: 100%;
}
.menu__text {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  color: white;
}
.menu__heading {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  color: #F16D7F;
}

.content {
  padding-left: calc(50% - 540px);
  padding-right: calc(50% - 540px);
  position: relative;
}
.content__head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__block {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.content__card:hover .content__add {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content__card:hover .content__img {
  filter: brightness(0.5);
}
.content__img {
  width: 100%;
}
.content__info {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-top: 25px;
  margin-left: 15px;
  margin-right: 25px;
  padding-bottom: 20px;
}
.content__button {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.content__button_browse_all {
  min-width: 270px;
  min-height: 70px;
  color: #F16D7F;
  background-color: white;
  border-color: #F16D7F;
}
.content__button_browse_all:hover {
  color: white;
  background-color: #F16D7F;
}
.content__card {
  background-color: #F8F8F8;
  position: relative;
}
.content__head2 {
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
}
.content__head_text {
  font-family: Lato;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}
.content__text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #9F9F9F;
}
.content__price {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #F16D7F;
}
.content__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  color: #FFFFFF;
  text-decoration: none;
}

.footer {
  background-color: #222224;
  padding-top: 160px;
  padding-bottom: 100px;
}
.footer__info {
  display: flex;
  padding-left: 230px;
  padding-right: 230px;
  gap: 30px;
}
.footer__header {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 23.95px;
}
.footer__text {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 13.97px;
  font-weight: 200;
  line-height: 16.77px;
  text-align: center;
  max-width: 320px;
}
.footer__info_why {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  position: relative;
}
.footer__img {
  max-width: 40px;
  position: absolute;
  bottom: 110px;
}
.footer__block_txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback {
  display: flex;
  background-image: url(img/foot_content/backfon.svg);
  height: 448px;
  padding-left: 230px;
  padding-right: 230px;
  gap: 220px;
}
.feedback__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.feedback__text {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  max-width: 360px;
}
.feedback__right {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.feedback__h2 {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 40.13px;
}
.feedback__h3 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.1px;
}
.feedback__button {
  display: flex;
  flex-direction: row;
}
.feedback__email {
  text-align: center;
  color: #222224;
  background: #E1E1E1;
  border-top-left-radius: 20px;
  border: none;
  height: 50px;
  border-bottom-left-radius: 20px;
  width: 250px;
}
.feedback__sub {
  color: white;
  background: #F16D7F;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  height: 50px;
  width: 100px;
}

.bottom {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-left: 230px;
  padding-right: 230px;
}
.bottom__right {
  display: flex;
  gap: 8px;
}
.bottom__info {
  color: white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.bottom__social {
  background-color: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
}
.bottom__social:hover {
  color: white;
  background-color: #F16D7F;
}
.bottom__img {
  max-width: 50%;
}

.filter {
  width: 100%;
  padding: 13px 16px 16px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}
.filter-box {
  position: relative;
  height: 40px;
  width: 360px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__box {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 11px;
}
.filter-sort {
  padding-top: 39px;
  display: flex;
  gap: 30px;
}
.filter__summary {
  display: flex;
  gap: 11px;
  align-items: center;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__summary {
  color: #F16D7F;
}
.filter[open] .filter__img path {
  fill: #F16D7F;
}
.filter__category {
  margin-top: 16px;
}
.filter__category-summary {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
}
.filter__category[open] .filter__category-summary {
  color: #F16D7F;
}

.sort {
  display: flex;
  gap: 28px;
  align-items: center;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 79px;
  padding: 7px 9px 11px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  top: 22px;
  left: -9px;
}

.nav__page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-bottom: 90px;
}
.nav__page__box {
  display: flex;
  gap: 16px;
  list-style: none;
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  border-color: #EBEBEB;
  align-items: center;
  border-radius: 10px;
}
.nav__page_text {
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  text-align: left;
  color: grey;
}
.nav__page_text:hover {
  color: #F16D7F;
}

@media (width: 768px) {
  .footer__info {
    flex-direction: column;
    gap: 108px;
  }
  .feedback {
    flex-direction: column;
    gap: 48px;
    height: 614px;
    justify-content: center;
    background-size: cover;
  }
  .feedback__left {
    width: 360px;
  }
  .feedback__right {
    width: 360px;
  }
  .head__left {
    max-width: 50%;
  }
  .head__title {
    font-size: 44px;
  }
  .head__heading {
    font-size: 24px;
  }
  .head__content {
    margin-top: 50%;
  }
  .menu {
    margin-left: 16px;
    margin-right: 16px;
    gap: 20px;
  }
  .menu__item_big {
    min-height: 0;
  }
  .content {
    margin-left: 16px;
    margin-right: 16px;
  }
  .content__block {
    grid-template-columns: repeat(2, 3fr);
    gap: 16px;
  }
}
.bottom {
  gap: 305px;
  padding-left: 32px;
  padding-right: 32px;
}

.catalog {
  display: flex;
  background-color: #F8F3F4;
  align-items: center;
  height: 150px;
  justify-content: space-between;
  padding-left: 230px;
  padding-right: 230px;
}
.catalog__header {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}
.catalog__chapter_text {
  text-decoration: none;
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}
.catalog__now {
  color: #F16D7F;
}

@media (width: 320px) {
  .navigation__img1 {
    display: none;
  }
  .head__left {
    display: none;
  }
  .head__content {
    margin-bottom: 48%;
    margin-left: 30px;
  }
  .head__title {
    font-size: 38px;
    line-height: 45.6px;
  }
  .head__heading {
    font-size: 20px;
    line-height: 24px;
  }
  .menu {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 15px;
    margin-right: 15px;
  }
  .menu__item_big {
    min-height: 0;
  }
  .menu__big_img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 320px;
    height: 111px;
  }
  .content {
    margin-right: 8px;
    margin-left: 8px;
  }
  .content__block {
    grid-template-columns: repeat(1, 1fr);
  }
  .content__text_hp {
    text-align: center;
  }
  .content__text {
    font-size: 12px;
  }
  .content__button_browse_all {
    min-width: 212px;
    min-height: 48px;
  }
  .content__add {
    top: 155px;
    left: 90px;
  }
  .footer__info {
    flex-direction: column;
    gap: 108px;
    padding-left: 0;
    padding-right: 0;
  }
  .footer__text {
    width: 300px;
  }
  .feedback {
    flex-direction: column;
    gap: 48px;
    height: 614px;
    justify-content: center;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
  }
  .feedback__left {
    width: 320px;
  }
  .feedback__right {
    width: 320px;
  }
  .feedback__email {
    width: 200px;
    height: 40px;
  }
  .feedback__sub {
    width: 90px;
    height: 40px;
  }
  .feedback__text {
    font-size: 16px;
    max-width: 300px;
  }
  .feedback__h2 {
    font-size: 22px;
  }
  .feedback__h3 {
    font-size: 12px;
  }
  .bottom {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column-reverse;
    height: 120px;
    gap: 40px;
    padding-bottom: 8px;
    justify-content: flex-start;
  }
}/*# sourceMappingURL=style.css.map */